div.modal_body {
  display: flex;
  flex-direction: column;
}
div.modal_body p {
  padding: 1px 3px 4px 3px;
  font-size: 14px;
  text-align: center;
}
div.tab_body {
  padding: 20px;
}
div.modal_form_error {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-size: 16px;
  color: red;
  font-style: italic;
}

.save_button {
  width: 100%;
}
